@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*
Image Links :
Dark Wave : https://www.pinterest.com.au/pin/547398529690394984/
Solitude : https://jinsangbeats.bandcamp.com/album/solitude
Stary Wave : https://hdwallpaperim.com/vincent-van-gogh-hokusai-starry-night-the-great-wave-off-kanagawa/
Tsunami2: https://wallpaperaccess.com/aesthetic-wave
Tsunami: https://www.europosters.eu/glass-art/the-great-wave-off-kanagawa-hokusai-v46155
longwave : https://carolineashwood.co.uk/products/catch-the-wavesoriginal-abstract-wall-art
 */


body{
  height:100%;
  margin: 0px;
  margin-bottom: 10%;

}

button{
  font-family : 'Open Sans', sans-serif;
  font-size: 23px;
}

.main-content{
  padding: 10%;
  padding-top: 5%;
  flex : 1 1 80%;
  height: 100vh;
  margin-bottom: 20%;
  opacity: 0;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.skills-information{
  width:65%;
  text-align: left;
  margin-top: 100px;
  margin-left: 17.5%;
  margin-right: 17.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  background-color: #0097bd;
  padding: 20px;
  color:white;

}

.interests-content{
  margin-top:6%;
}

.interest{
  margin-left: 17.5%;
  margin-right: 17.5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.int-title{
  font-size: 10px !important;
}

.img-gallery{
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  padding-top:0;
  justify-content: center;
}

.image{
  width: 25%;
  height: 15%;
  margin: 0;
  margin-left: 2%;
  margin-right: 2%;
  transition: all ease-in-out 450ms;
}
.image:hover{
  opacity:0.6;
}

.exp-content{
  margin-top: 50px;
}

.exp-showcase{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows:minmax(200px, auto);
  grid-gap: 20px;
  max-width: 65%;
  margin: 0 auto;
  position: relative;
  grid-template-areas:
  "ore steam hw discord github";
}

.exp-showcase-title{
  text-align: left;
  margin-left: 17.5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.exp-text-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: left;
}

.exp-text{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 17.5%;
  margin-right: 17.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

.exp1{
  grid-area:ore;
  background-image: url("images/vn.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  transition: all ease-in-out 450ms;
}

.exp1:hover{
  opacity: 1;
  transform: scale(1.2);
}

.exp2{
  grid-area:steam;
  background-image: url("images/steamvr.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
  transition: all ease-in-out 450ms;
}

.exp2:hover{
  opacity: 1;
  transform: scale(1.2);
}

.exp3{
  grid-area:hw;
  background-image: url("images/hwhelp.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
  transition: all ease-in-out 450ms;
}

.exp3:hover{
  opacity: 1;
  transform: scale(1.2);
}

.exp4{
  grid-area:discord;
  background-image: url("images/discord.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  transition: all ease-in-out 450ms;
}

.exp4:hover{
  opacity: 1;
  transform: scale(1.2);
}

.exp5{
  grid-area:github;
  background-image: url("images/github.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  transition: all ease-in-out 450ms;
}

.exp5:hover{
  opacity: 1;
  transform: scale(1.2);
}

.skills-title{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
}

.skills-content{
  margin-top: 50px;
}

.skill-title{
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows:minmax(200px, auto);
  grid-gap: 20px;
  max-width: 65%;
  margin: 0 auto;
  position: relative;
  grid-template-areas:
  "html css unity java python";
}

.skill-item{
  background: white;
  padding: 30px;
  text-align: center;
  color: white;
  font-family : 'Open Sans', sans-serif;
}

.skill1{
  grid-area:html;
  opacity: 0.1;
  background-image: url("https://img-a.udemycdn.com/course/750x422/792484_cc98_3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.skill1:hover{
  opacity: 1;
}

.skill2{
  grid-area:css;
  opacity: 0.1;
  background-image: url("https://tingsyuanwang.github.io/blogs/images/javascript.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.skill2:hover{
  opacity: 1;
}

.skill3{
  grid-area:unity;
  opacity: 0.1;
  background-image: url("https://1.bp.blogspot.com/-GTwjVoB9EQo/WJNRV4ZFlCI/AAAAAAAAXIQ/JnQzJORM-2EOu483COrGz_1hi98e3XwpQCPcB/s1600/unity.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.skill3:hover{
  opacity: 1;
}

.skill4{
  grid-area:java;
  opacity: 0.1;
  background-image: url("https://upload.wikimedia.org/wikipedia/zh/8/88/Java_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.skill4:hover{
  opacity: 1;
}

.skill5{
  grid-area:python;
  opacity: 0.1;
  background-image: url("https://fontmeme.com/images/Python-Logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.skill5:hover{
  opacity: 1;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows:repeat(6,150px);
  grid-template-areas:
  "abt abt ed ed ed ed"
  "abt abt ed ed ed ed"
  "abt abt exp exp skill skill"
  "abt abt exp exp skill skill"
  "int int int int skill skill"
  "int int int int skill skill";
  grid-gap:10px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-item{
  background-color: grey;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one{
  /* Start at col 1 and go to col 2, basically 1 to 3-1 */
  grid-area: abt;
  background-image: url('images/darkwave.jpg');
  background-size: cover;
  background-color: $black;
  background-blend-mode: multiply;
  background-position: center left;
  transition: all ease-in-out 450ms;
}

.one:hover{
  opacity: 0.8;
}

.two{
  grid-area :ed;
  background-image: url('images/tsunami.jpg');
  background-size: cover;
  background-color: $black;
  background-blend-mode: multiply;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.two:hover{
  opacity: 0.8;
}

.three{
  grid-area:exp;
  background-image: url('images/solitude.jpg');
  background-size: cover;
  background-color: $black;
  background-blend-mode: multiply;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.three:hover{
  opacity: 0.8;
}

.four{
  grid-area:skill;
  background-image: url('images/tsunami2.jpg');
  background-size: cover;
  background-color: $black;
  background-blend-mode: multiply;
  background-position: center;
  transition: all ease-in-out 450ms;
}

.four:hover{
  opacity: 0.8;
}

.five{
  grid-area:int;
  background-image: url('images/starywave.jpg');
  background-size: cover;
  background-color: $black;
  background-blend-mode: multiply;
  background-position: 50% 20%;
  transition: all ease-in-out 450ms;
}

.five:hover{
  opacity: 0.8;
}



nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #838485;
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
}

.title{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 15px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.nav-links li{
  list-style: none;
}

.smallNav{
  display:none;
}

.smallNav div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin:5px;
}

.who-section{
  text-align: center;
  margin-top: 5%;
  margin-right:15%;
  margin-left: 15%;
  width: 70%;
  height: 20%;
  /* background-color: red; */
  font-family: 'Open Sans', sans-serif;
}

.where-are-you{
  background-color: #0097bd;
  color:white;
  padding: 3%;
}

.introduction{
  margin-top: 5%;
  background-color: #0097bd;
  color: white;
  padding: 3%;
}

.about-navigation{
  margin-top: 5%;
  background-color: #0097bd;
  color: white;
  padding: 3%;
}

.text-box{
  font-family: 'Open Sans', sans-serif;
  margin-top: 5%;
  background-color: #0097bd;
  color: white;
  padding: 3%;
}



/* Imported CSS Button (Start)
  Link : https://codepen.io/giana/pen/xdXpJB */

.draw-border {
  /* Border color before hover */
  box-shadow: inset 0 0 0 4px #0086a8;
  /* Text Color */
  color: black;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  /* Color After hover */
  color: white;
}
.draw-border:hover::before, .draw-border:hover::after {
  /* Border Color after hover*/
  border-color: black;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  margin-top: 5%;
  background: #0097bd;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}


/* Imported CSS Button (End) */


/* Imported TimeLine (Start)
Link : https://codepen.io/itbruno/pen/KwarLp */


@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

.timeline-content{
  font-family: 'Raleway', sans-serif;
}

header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Dosis", arial, tahoma, verdana;
  font-weight: 500;
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

header {
  background: #2b2e48;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #008bc2;
  float: left;
  font-family: "Dosis", arial, tahoma, verdana;
  font-size: 22px;
  font-weight: 500;
}
header .logo > span {
  color: #f7aaaa;
  font-weight: 300;
}
header .social {
  float: right;
}
header .social .btn {
  font-family: "Dosis";
  font-size: 14px;
  margin: 10px 5px;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 74%;
  /* TimeLine Middle Line */
  background: #008bc2;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  /* Icon Colors */
  background: #004b69;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  /* Box Header Color */
  background: #008bc2;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #008bc2;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #008bc2;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #f27c7c;
  color: #f27c7c;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #f27c7c;
  -moz-box-shadow: 2px 2px 0 #f27c7c;
  -ms-box-shadow: 2px 2px 0 #f27c7c;
  box-shadow: 2px 2px 0 #f27c7c;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #008bc2;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}


/* Imported Timeline (End) */



.main{
}

/* Override Everything for responsive */

@media only screen and (max-width:1000px){

  .exp-showcase{
    grid-template-areas:
    "ore ore ore ore ore"
    "steam steam steam steam steam"
    "hw hw hw hw hw"
    "discord discord discord discord discord"
    "github github github github github";
  }

  .portfolio{
    grid-template-areas:
    "abt abt abt abt abt abt"
    "ed ed ed ed ed ed"
    "skill skill skill skill skill skill"
    "exp exp exp exp exp exp"
    "int int int int int int";
  }

  .skills{
    grid-template-areas:
    "html html html html html"
    "css css css css css "
    "unity unity unity unity unity"
    "java java java java java"
    "python python python python python";
  }

  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    flex-direction: column;
    background-color: #838485;
    justify-content: center;
    align-items: center;
    width: 30%;
    transform :translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity : 0;
  }

  .smallNav{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px;);
  }
}
